.file, .info-data {
    font-family: Verdana, sans-serif;
    font-size: 0.7em;
    line-height: 140%;
}

.file:nth-child(odd) {
    background: #f0f0f0; /* Цвет фона */
    color: #25262e;
}

.file:nth-child(even) {
    background: #f8f8f8; /* Цвет фона */
}

.filelst .file:hover {
    background-color: #fffccf;
}

.view {
    /*max-width: 1024px;*/
    word-wrap: normal;
    white-space: pre-wrap;
}

.space {
    padding: 5px;
}

pre, .filelst, .fileinfo {
    border: 1px solid #DDD;
}

.wordhl {
    background-color: #fff9ce;
    color: #dd1144;
}

.msg {
    border: 1px solid #DDD;
}

.ok {
    border-color: lightseagreen;
    background-color: #ddffdd;
    color: #008000;
}

.fail {
    border-color: #990000;
    background-color: #ffdddd;
    color: #990000;
}

.button{
    display: inline-block;
    text-decoration: none;
    font: bold 12px/12px HelveticaNeue, Arial;
    padding: 4px 11px;
    color: #555;
    border: 1px solid #dedede;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.button.white{
    background: #f5f5f5;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f0f0f0'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f0f0f0)); /*  WebKit */
    background: -moz-linear-gradient(top,  #f9f9f9, #f0f0f0);
    border-color: #dedede #d8d8d8 #d3d3d3;
    color: #555;
    text-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
    -moz-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
    box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
}
.button.white:hover{
    background: #f4f4f4;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#f8f8f8'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#f8f8f8)); /*  WebKit */
    background: -moz-linear-gradient(top,  #efefef, #f8f8f8);
    border-color: #c7c7c7 #c3c3c3 #bebebe;
    text-shadow: 0 1px 0 #fdfdfd;
    -webkit-box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
    -moz-box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
    box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
}

.button.pink{
    background: #f63b43;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f78297', endColorstr='#f63b43'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#f78297), to(#f63b43)); /*  WebKit */
    background: -moz-linear-gradient(top,  #f78297, #f63b43);
    border-color: #df6f8b #da5f75 #d55061;
    color: #fff0eb;
    text-shadow: 0 1px 0 #f89ca9;
    -webkit-box-shadow: 0 1px 1px #c1c1c1, inset 0 1px 0 #f9a1b1;
    -moz-box-shadow: 0 1px 1px #c1c1c1, inset 0 1px 0 #f9a1b1;
    box-shadow: 0 1px 1px #c1c1c1, inset 0 1px 0 #f9a1b1;
}
.button.pink:hover{
    background: #f63b43;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f63b43', endColorstr='#f78297'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#f63b43), to(#f78297)); /*  WebKit */
    background: -moz-linear-gradient(top,  #f63b43, #f78297);
    border-color: #c36079 #c25669 #c14e5c;
    text-shadow: 0 1px 0 #f9a6b4;
    -webkit-box-shadow: 0 1px 1px #c3c3c3, inset 0 1px 0 #f8909e;
    -moz-box-shadow: 0 1px 1px #c3c3c3, inset 0 1px 0 #f8909e;
    box-shadow: 0 1px 1px #c3c3c3, inset 0 1px 0 #f8909e;
}
textarea{
    width: 90%;
    height: 32em;
}